@import "colors.css";

html {
  /* Breakpoints */
  /* return window.innerWidth < 1024 && window.innerWidth >= 768; */

  --bp-mobile: 768px;

  /* Spacing */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1600,18,1.5,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --space-3xs: clamp(0.25rem, 0.23rem + 0.08vw, 0.31rem);
  --space-2xs: clamp(0.5rem, 0.48rem + 0.08vw, 0.56rem);
  --space-xs: clamp(0.75rem, 0.72rem + 0.16vw, 0.88rem);
  --space-s: clamp(1rem, 0.97rem + 0.16vw, 1.13rem);
  --space-m: clamp(1.5rem, 1.45rem + 0.23vw, 1.69rem);
  --space-l: clamp(2rem, 1.94rem + 0.31vw, 2.25rem);
  --space-xl: clamp(3rem, 2.91rem + 0.47vw, 3.38rem);
  --space-2xl: clamp(4rem, 3.88rem + 0.63vw, 4.5rem);
  --space-3xl: clamp(6rem, 5.81rem + 0.94vw, 6.75rem);

  /* Backgrounds */

  --noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cscript xmlns=''/%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3Cscript xmlns=''/%3E%3C/svg%3E");

  --points: url("data:image/svg+xml,%3Csvg width='16px' height='16px' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(1,0,0,1,-1040.36,-403.458)'%3E%3Cg transform='matrix(1,0,0,1,70.6673,4.12972)'%3E%3Crect x='969.694' y='399.328' width='15.008' height='15.008' style='fill:none;'/%3E%3Cg transform='matrix(0.451471,0,0,0.451471,535.443,222.041)'%3E%3Ccircle cx='978.481' cy='409.311' r='7' style='fill:hsla(45, 69%, 96%, 1.00);'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");

  --radial-points: radial-gradient(
      hsla(0, 0%, 2%, 0),
      hsla(0, 0%, 2%, 0.5),
      hsla(0, 0%, 2%, 0.7),
      hsla(0, 0%, 2%, 1)
    ),
    url("data:image/svg+xml,%3Csvg width='16px' height='16px' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(1,0,0,1,-1040.36,-403.458)'%3E%3Cg transform='matrix(1,0,0,1,70.6673,4.12972)'%3E%3Crect x='969.694' y='399.328' width='15.008' height='15.008' style='fill:none;'/%3E%3Cg transform='matrix(0.451471,0,0,0.451471,535.443,222.041)'%3E%3Ccircle cx='978.481' cy='409.311' r='7' style='fill:hsla(45, 69%, 96%, 1.00);'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");

  /*  */

  --spade-clip: polygon(
    98.928% 53.636%,
    98.928% 53.636%,
    98.928% 53.636%,
    98.928% 53.635%,
    98.928% 53.635%,
    98.928% 53.634%,
    98.928% 53.634%,
    98.927% 53.633%,
    98.927% 53.633%,
    98.927% 53.632%,
    98.927% 53.632%,
    98.927% 53.632%,
    98.927% 53.632%,
    96.365% 46.583%,
    92.636% 39.898%,
    88.024% 33.649%,
    82.81% 27.908%,
    77.278% 22.746%,
    71.711% 18.236%,
    66.391% 14.448%,
    61.601% 11.456%,
    57.624% 9.33%,
    54.744% 8.142%,
    54.744% 8.085%,
    54.744% 8.085%,
    51.863% 9.272%,
    47.886% 11.398%,
    43.096% 14.391%,
    37.776% 18.178%,
    32.209% 22.689%,
    26.677% 27.85%,
    21.463% 33.592%,
    16.851% 39.84%,
    13.122% 46.525%,
    10.56% 53.574%,
    10.56% 53.574%,
    10.56% 53.575%,
    10.56% 53.575%,
    10.56% 53.576%,
    10.56% 53.576%,
    10.559% 53.577%,
    10.559% 53.577%,
    10.559% 53.577%,
    10.559% 53.578%,
    10.559% 53.578%,
    10.559% 53.579%,
    10.559% 53.579%,
    10.36% 54.227%,
    10.18% 54.884%,
    10.021% 55.548%,
    9.881% 56.22%,
    9.762% 56.898%,
    9.664% 57.584%,
    9.587% 58.276%,
    9.532% 58.975%,
    9.498% 59.679%,
    9.487% 60.389%,
    9.487% 60.389%,
    9.783% 64.012%,
    10.641% 67.45%,
    12.013% 70.655%,
    13.853% 73.582%,
    16.115% 76.185%,
    18.751% 78.418%,
    21.716% 80.234%,
    24.963% 81.589%,
    28.445% 82.436%,
    32.116% 82.728%,
    32.116% 82.728%,
    34.643% 82.59%,
    37.089% 82.187%,
    39.439% 81.532%,
    41.678% 80.641%,
    43.791% 79.528%,
    45.763% 78.209%,
    47.58% 76.697%,
    49.226% 75.007%,
    50.687% 73.155%,
    51.947% 71.154%,
    51.947% 71.154%,
    51.813% 71.518%,
    51.675% 71.882%,
    51.535% 72.248%,
    51.392% 72.616%,
    51.246% 72.984%,
    51.097% 73.354%,
    50.945% 73.725%,
    50.79% 74.098%,
    50.632% 74.472%,
    50.47% 74.847%,
    50.47% 74.847%,
    48.832% 78.355%,
    47.079% 81.634%,
    45.237% 84.686%,
    43.334% 87.517%,
    41.398% 90.127%,
    39.455% 92.521%,
    37.534% 94.703%,
    35.662% 96.674%,
    33.867% 98.439%,
    32.175% 100%,
    77.312% 100%,
    77.312% 100%,
    75.62% 98.439%,
    73.825% 96.674%,
    71.953% 94.703%,
    70.032% 92.521%,
    68.089% 90.127%,
    66.153% 87.517%,
    64.25% 84.687%,
    62.408% 81.634%,
    60.654% 78.355%,
    59.016% 74.848%,
    59.016% 74.848%,
    58.861% 74.489%,
    58.71% 74.132%,
    58.561% 73.776%,
    58.416% 73.42%,
    58.273% 73.066%,
    58.132% 72.714%,
    57.995% 72.362%,
    57.86% 72.011%,
    57.728% 71.662%,
    57.598% 71.314%,
    57.598% 71.314%,
    58.862% 73.298%,
    60.323% 75.135%,
    61.967% 76.81%,
    63.78% 78.309%,
    65.747% 79.616%,
    67.852% 80.719%,
    70.082% 81.602%,
    72.421% 82.25%,
    74.856% 82.65%,
    77.371% 82.786%,
    77.371% 82.786%,
    81.042% 82.494%,
    84.523% 81.648%,
    87.77% 80.293%,
    90.735% 78.476%,
    93.372% 76.244%,
    95.634% 73.641%,
    97.474% 70.714%,
    98.846% 67.508%,
    99.704% 64.071%,
    100% 60.447%,
    100% 60.447%,
    99.989% 59.737%,
    99.955% 59.033%,
    99.9% 58.334%,
    99.823% 57.642%,
    99.725% 56.956%,
    99.606% 56.277%,
    99.466% 55.605%,
    99.307% 54.941%,
    99.127% 54.284%,
    98.928% 53.636%
  );

  --club-clip: polygon(
    79.486% 42.716%,
    79.486% 42.716%,
    78.669% 42.732%,
    77.839% 42.777%,
    76.997% 42.851%,
    76.145% 42.954%,
    75.284% 43.086%,
    74.416% 43.245%,
    73.542% 43.431%,
    72.665% 43.644%,
    71.786% 43.883%,
    70.906% 44.148%,
    70.906% 44.148%,
    71.811% 42.626%,
    72.637% 41.059%,
    73.382% 39.456%,
    74.04% 37.83%,
    74.607% 36.19%,
    75.081% 34.549%,
    75.456% 32.918%,
    75.729% 31.308%,
    75.895% 29.729%,
    75.952% 28.195%,
    75.952% 28.195%,
    75.683% 24.948%,
    74.906% 21.868%,
    73.662% 18.997%,
    71.994% 16.374%,
    69.944% 14.042%,
    67.554% 12.042%,
    64.866% 10.414%,
    61.922% 9.201%,
    58.766% 8.442%,
    55.439% 8.18%,
    55.439% 8.18%,
    52.111% 8.442%,
    48.955% 9.201%,
    46.011% 10.414%,
    43.324% 12.042%,
    40.933% 14.042%,
    38.883% 16.374%,
    37.215% 18.997%,
    35.971% 21.868%,
    35.194% 24.948%,
    34.925% 28.195%,
    34.925% 28.195%,
    34.982% 29.73%,
    35.148% 31.308%,
    35.421% 32.919%,
    35.796% 34.55%,
    36.27% 36.191%,
    36.838% 37.83%,
    37.495% 39.457%,
    38.24% 41.059%,
    39.066% 42.627%,
    39.971% 44.148%,
    39.971% 44.148%,
    39.091% 43.883%,
    38.212% 43.644%,
    37.335% 43.431%,
    36.461% 43.245%,
    35.593% 43.086%,
    34.732% 42.954%,
    33.88% 42.851%,
    33.038% 42.777%,
    32.208% 42.732%,
    31.392% 42.716%,
    31.392% 42.716%,
    28.064% 42.978%,
    24.908% 43.737%,
    21.964% 44.95%,
    19.276% 46.578%,
    16.886% 48.578%,
    14.836% 50.91%,
    13.168% 53.533%,
    11.924% 56.404%,
    11.147% 59.484%,
    10.878% 62.73%,
    10.878% 62.73%,
    11.147% 65.977%,
    11.924% 69.057%,
    13.168% 71.928%,
    14.836% 74.551%,
    16.886% 76.883%,
    19.276% 78.884%,
    21.964% 80.511%,
    24.908% 81.725%,
    28.064% 82.484%,
    31.392% 82.746%,
    31.392% 82.746%,
    33.287% 82.666%,
    35.243% 82.433%,
    37.24% 82.053%,
    39.258% 81.532%,
    41.277% 80.877%,
    43.277% 80.095%,
    45.238% 79.193%,
    47.14% 78.177%,
    48.963% 77.055%,
    50.687% 75.832%,
    50.687% 75.832%,
    49.045% 79.186%,
    47.298% 82.323%,
    45.472% 85.248%,
    43.593% 87.962%,
    41.685% 90.469%,
    39.776% 92.772%,
    37.89% 94.874%,
    36.052% 96.777%,
    34.289% 98.485%,
    32.627% 100%,
    78.25% 100%,
    78.25% 100%,
    76.588% 98.485%,
    74.825% 96.777%,
    72.987% 94.873%,
    71.101% 92.772%,
    69.191% 90.469%,
    67.284% 87.961%,
    65.404% 85.247%,
    63.578% 82.322%,
    61.83% 79.184%,
    60.187% 75.83%,
    60.187% 75.83%,
    61.912% 77.053%,
    63.735% 78.176%,
    65.638% 79.192%,
    67.599% 80.094%,
    69.599% 80.876%,
    71.618% 81.531%,
    73.637% 82.052%,
    75.634% 82.433%,
    77.591% 82.666%,
    79.487% 82.746%,
    79.487% 82.746%,
    82.814% 82.484%,
    85.971% 81.725%,
    88.914% 80.512%,
    91.602% 78.884%,
    93.992% 76.884%,
    96.042% 74.552%,
    97.71% 71.929%,
    98.954% 69.058%,
    99.732% 65.978%,
    100% 62.732%,
    100% 62.732%,
    99.731% 59.485%,
    98.954% 56.405%,
    97.71% 53.534%,
    96.042% 50.911%,
    93.991% 48.579%,
    91.601% 46.578%,
    88.913% 44.95%,
    85.97% 43.737%,
    82.813% 42.978%,
    79.486% 42.716%
  );

  /* Borders */
  --line-width-s: 1px;
  --line-width-l: 5px;

  --corners: 0.5rem;

  --border: var(--line-width) solid var(--gray);
  --border-dark: var(--line-width) solid var(--gray-dark);
  --border-light: var(--line-width) solid var(--ink);
  --border-color: var(--line-width) solid var(--color-lightest);
  --border-highlight: var(--line-width) solid var(--highlight);

  /* Shadows */
  --shadow: var(--color-lightest) 0px 5px 1em -0.5em;
  --shadow-selected: 2px 2px 1px var(--color-lightest);
}
