/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
/* @import "developer-styles.css"; */

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */

/* S ections and more stuff */
@import "utilities.css";

/* then other contextual styles */

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--space-2xl);
  background: var(--paper);
}

body {
  position: relative;

  background: var(--paper);
  color: var(--ink);

  /* Control contrast & brightess of grain texture for varying effects */
  filter: contrast(1.4) brightness(1.2) saturate(0.5);

  /* Change Blend Mode for varying effects */
  /* mix-blend-mode: luminosity; */
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 100;
  background: var(--noise);
  background-attachment: fixed;
  opacity: 0.5;
}

main {
  background: var(--paper);
  /* box-shadow: var(--shadow); */
}

#__nuxt,
.display-contents {
  display: contents;
}
